// Define variables for your color scheme

// Defaults
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #808080;
$light-gray: #F4F4F4;

// Used by Party Reel

$alto: #DDDDDD;
$atlantis: #8BC435;
$bright_turquoise: #12CAD6;
$black: #000000;
$cerulean: #0FABBC;
$contessa: #BE6779;
$dusty_gray: #999999;
$fruit_salad: #4CAF50;
$gallery: #EEEEEE;
$goblin: #3E8E41;
$lily_white: #E4F9FF;
$lucky_point: #271569;
$meteorite: #42236B;
$meteorite_dark: #321A69;
$mischka: #D5D5DA;
$persian_indigo: #251368;
$persian_red: #C42F2F;
$seashell: #F1F1F1;
$shark: #2E2F30;
$silver: #CCCCCC;
$tapestry: #AE5E77;
$torch_red: #FA163F;
$tundora: #444444;
$white: #FFFFFF;
