// Site wide CSS (not related to a specific component)
body {
  background-color: $white;
}

.container {
  max-width: 100%;
}

.wrapper {
  background-color: $white;
  min-height: 110vh;
}

.color-dark-blue {
  color: $cerulean;
}

.color-light-blue {
  color: $bright_turquoise;
}

.color-very-light-blue {
  color: $lily_white;
}

.color-red {
  color: $torch_red;
}


.hidden {
  display: none;
}

.wrapper-booking {
  display:flex;
  flex-direction: column;
  padding-top: 20px;
  min-height: 110vh;
  background-color: $lily_white;
  color: $cerulean;
  text-align: left;
}
