.event-show-card {
  padding: 2px;
  // background-color: rgba(214, 212, 208, 0.3);
  margin-bottom: 10%;
  color: $white;
  border-radius: 5px;
}

.event-show-card h4 {
    color: $lucky_point;
    padding: 3px;
  }

.event-show-card h5 {
    padding: 3px;
    display: flex;
    justify-content: center;
  }

.event-show-card .coloured {
    color: $lucky_point;
  }

  .event-show-card p {
    background-color: $cerulean;
    padding: 15px;
    width: 400px;
    border-radius: 30px;
    color: $white;
    margin: auto;
    text-align: center;
  }

.event-show img {
    width: fit-content;
    // display: flex;
    // align-self: center;
    height: 60vh;
    backface-visibility: hidden;
    box-shadow: 0 0 25px rgba(0,0,0,.15);
}



