.event-show-card {
  padding: 2px;
  background-color: rgba(214, 212, 208, 0.3);
  margin-bottom: 10%;
  color: white;
  border-radius: 5px;

  h4 {
    color: #271569;
  }

  h5 {
    opacity: .8;
  }

  .coloured {
    color: #271569;
  }
}
