// Specific CSS for your home-page

.homepage-card {
  height: 350px;
  border-radius: 5px;
  transition: .5s;
}

.homepage-card:hover {
  transform: scale(1.1);
}

.homepage-events {
  text-align: center;
  color: $black;
}
