<div class="event-card my-5">
  <%= cl_image_tag booking.event.photos[0].key%>
  <div class="event-infos">
    <div>
      <h2><%= booking.event.name %></h2>

            <p>Genre: Mixed bag</p>
            <p>Dates Party Reel Onsite: 4/11-4/13</p>
            <h5> Package Selected: <%= booking.package.name %> </h5>

    </div>
    <h5 class="event-infos-pricing">Payment Status: Paid</h5>

    <img src="<%= asset_path("profile_img.jpg") %>" class="pgr-avatar-user avatar-bordered" />
  </div>
</div>
