<div class=“event_info”>
  <h2>Event: <%= event.name %></h2>
  <h4>Dates: From <%= event.start_date %> To <%= event.end_date %></h4>
  <p>Genre: <%= event.genre %></p>
  <p>Venue: Outdoor racetrack</p>
  <p>Walking rate: Heavy</p>
  <p>Average consumer spending/day: $200USD</p>
</div>
