<div class="home-banner" style="background-image: url(<%= asset_path 'banner.jpg' %>)">
   <div class="search_bar">
   <%= render 'shared/search_bar' %>
   </div>
   <div class="banner_title">
       <h1>Ayyy where the party at?</h1>
       <h4>Book a personal photographer for a live event</h4>
    </div>
</div>
