<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= asset_path 'banner.jpg' %>)">
   <div class="banner_title">
       <h1>Ayyy where the party at?</h1>
       <h4>Book a personal photographer for a live event</h4>
    <div class="search_bar">
       <%= render 'shared/search_bar' %>
   </div>
  </div>
</div>
