<%= render "shared/top_nav" %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= asset_path 'banner.jpg' %>)">
       <div class="banner_title">
           <h1 class="my-2">Party Reel</h1>
           <h5>Book a personal photographer for a live event</h5><br><br>
      </div>
    </div>

