<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= asset_path 'banner.jpg' %>)">
   <div class="banner_title">
       <h2 class="mt-4">Party Reel</h2>
       <small>Book a personal photographer for a live event</small><br><br><br><br><br>
       <h5 class="text-center">Our recent work</h5>
    <div class="search_bar">
   </div>
  </div>
</div>
