<div class="navbar navbar-lewagon bottom-nav">
  <!-- avatar -->
    <% if user_signed_in? %>

    <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
    <%= image_tag avatar_url, class: "avatar bottom-nav-avatar" %>

    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>

    <!-- home -->
    <a href="/" class="bottom-nav-icon"><i class="fas fa-home"></i></a>

    <!-- dashboard -->
    <a href="/dashboard" class="bottom-nav-icon"><i class="fas fa-columns"></i></a>

    <!-- my messages -->
<!--     <a href="/" class="bottom-nav-icon"><i class="fas fa-envelope-square"></i></a>
 -->
    <!-- logout -->
    <%= link_to destroy_user_session_path, method: :delete, class: "bottom-nav-icon" do%>
      <i class="fas fa-sign-out-alt"></i>
    <% end %>

</div>
