<div class="navbar navbar-lewagon bottom-nav">
  <!-- avatar -->
    <% if user_signed_in? %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar bottom-nav-avatar"%>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>

    <!-- home -->
    <a href="/" class="bottom-nav-icon"><i class="fas fa-home"></i></a>

    <!-- dashboard -->
    <a href="/" class="bottom-nav-icon">FAQ</a>

    <!-- my messages -->
    <a href="/" class="bottom-nav-icon"><i class="fas fa-question-circle"></i></a>

    <!-- logout -->
    <a href="/" class="bottom-nav-icon"><i class="fas fa-question-circle"></i></a>

</div>
