<div class="attendee_info">
  <p><strong><%= booking.attendee.user.first_name %> <%= booking.attendee.user.last_name %></strong></p>
  <p><%= booking.event.start_date %></p>
  <p><%= booking.package.name %></p>
    <ul>
      <li>Weather: Rain (bring lens hood)</li>
      <li>Group size: 5-6</li>
      <li>Lens suggestion: wide and telephoto</li>
    </ul>
    <h4>Paid in Full</h4>
    <!-- update when payment is implemented -->
</div>
