<div class="event-show-card mt-4" >
  <div class="event-infos">
    <h5 style="color: grey"><%= event.name %></h5>
    <div class="d-flex" style="justify-content: space-between;">
    <h5 style="color: grey"><%= event.start_date.strftime("%B %d, %Y") %> </h5>
    <%= button_to "Cancel", availablephotographer_path(current_user.photographer.availablephotographers.where(event_id: event.id)[0].id), method: :delete, class: "btn btn-primary"  %>
     </div>
      <h2  style="border-bottom: #0fabbc solid;"></h2>
  </div>

</div>
