<div class="event-show-card mt-4" >
  <div class="event-infos">
    <div class="pgr_img">
     <%= image_tag("profile_img.jpg") %>
    </div>
    <h2  style="border-bottom: #0fabbc solid;"></h2>
    <div class="profile_info">
      <h4>Bio</h4>
      <p  style="color: grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis nemo minus magni perferendis dignissimos ipsum maxime illo dolorem molestiae! Minus minima beatae vel eius illo. Iure molestias, dolore fugiat!</p>
      <h2  style="border-bottom: #0fabbc solid;"></h2>
    </div>
    <div class="pgr_carousel">
      <%= render 'shared/pgr_portfolio_photos' %>
    </div>
  </div>
</div>



