<div class="event-show-card mt-4" >
  <div class="event-infos">
    <h5 style="color: grey"><%= event.name %></h5>
    <div class="d-flex" style="justify-content: space-between;">
    <h5 style="color: grey"><%= event.start_date.strftime("%B %d, %Y") %> </h5>
     <a class="btn btn-primary">Cancel</a>
     </div>
      <h2  style="border-bottom: #0fabbc solid;"></h2>
  </div>

</div>
