<div class="progress">
  <div class="circle">
    <span class="label">1</span>
<!--     <span class="event_show"></span>
 -->  </div>
  <span class="bar done"></span>
  <div class="circle">
    <span class="label">2</span>
<!--     <span class="package_index"></span>
 -->  </div>
  <span class="bar half"></span>
  <div class="circle">
    <span class="label">3</span>
<!--     <span class="package_show"></span>
 -->  </div>
  <span class="bar"></span>
  <div class="circle">
    <span class="label">4</span>
<!--     <span class="booking_show"></span>
 -->  </div>
  <span class="bar"></span>
  <div class="circle">
    <span class="label">5</span>
<!--     <span class="payment_new"></span>
 -->  </div>
</div>
