<div class="button_box2">
  <form class="form-wrapper-2 cf">
    <input style="padding: 2px" type="text" placeholder="Enter your city or event here..." required>
    <button type="submit">Search</button>
  </form>
</div>
