  <%= link_to  "Home", root_path %>

  <p> Login </p>

  <p> Messages</p>

  <p> FAQ </p>

  <p> Why Party Reel? </p>

  <button type="button" onclick="alert('Logged In!')">Login</button>

  <button type="button" onclick="alert('Cerared Account!')">Create Accounts</button>
