<div class="custom-nav col-4 col-lg-12 col-md-8 col-sm-6" id="nav-custom">
    <ul>
      <li class="nav-item-pgr active" style="font-size: large;">
        <%= link_to "How it works", "#", class: "nav-link" %>
      </li>
      <li class="nav-item-pgr" style="font-size: large;">
        <%= link_to "FAQ", "#", class: "nav-link" %>
      </li>

    </ul>
  </div>
