<!-- commenting for now until we add the booking component to homepage and decide
where the FAQ and How it works should live going forward.  I am considering having a section
for How it works further down the landing page (ie. under the search for event) but need to do UX
testing to really figure out where both of these nav options should be. -->


<!-- <div class="custom-nav col-4 col-lg-12 col-md-8 col-sm-6" id="nav-custom">
    <ul>
      <li class="nav-item-pgr active" style="font-size: large;">
        <%=# link_to "How it works", "#", class: "nav-link" %>
      </li>
      <li class="nav-item-pgr" style="font-size: large;">
        <%=# link_to "FAQ", "#", class: "nav-link" %>
      </li>

    </ul>
  </div> -->
