<div class="custom-nav" id="nav-custom">
    <ul>
      <li class="nav-item active">
        <%= link_to "About us", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "FAQ", "#", class: "nav-link" %>
      </li>
      <li>
        <button class="btn btn-new dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Join the Party
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "I am an attendee", "#", class: "dropdown-item" %>
          <%= link_to "Work for Party Reel", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>



<!-- <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%#= link_to "About us", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%#= link_to "FAQ", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%#= image_tag "JoinUs.png", class: "avatar-join dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%#= link_to "I am an event attendee", "#", class: "dropdown-item" %>
          <%#= link_to "Work for Party Reel", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div> -->
