<div class="custom-nav" id="nav-custom">
    <ul>
      <li class="nav-item-pgr active" style="font-size: large;">
        <%= link_to "About us", "#", class: "nav-link" %>
      </li>
      <li class="nav-item-pgr" style="font-size: large;">
        <%= link_to "FAQ", "#", class: "nav-link" %>
      </li>
      <li>
        <button class="btn btn-new dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Join the Party
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "I am an attendee", "#", class: "dropdown-item" %>
          <%= link_to "Work for Party Reel", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
