<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">Party Reel</a>
    <ul class="nav navbar-nav">
      <li><a href="#">About us</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
    <button class="btn btn-new navbar-btn">Join the party!</button>
  </div>
</nav>
