<%= render "shared/banner", nearest_event: @nearest_event, smallest_distance: @smallest_distance %>
      <div class="container">
        <h3 class="w-85 text-center m-5" style="color: #0FABBC">Music festivals are vehicles for forming community and ingredients that may ultimately shape the identity of an individual.</h3><br>
        <h3 class="w-85 text-center mb-5" style="color: #0FABBC">We capture significant moments so you don't have to</h3>
      </div>
  <hr>
    <div class="container p-3">
      <%= render 'shared/search_bar' %>
    </div>
      <div class="card-deck p-5 mb-5">
          <% @events.each do |event| %>
            <a href="events/<%= event.id %>" class="col-md-4 col-sm-6">
              <div class="card-category home-card" style="background-image: url(<%= asset_path(event.local_img) %>)">
                <div class="event_info">
                </div>
              </div>
            </a>
      <% end %>
</div>
