<div class="wrapper">
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
  <div class="homepage-cards">
    <a href="items">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(<%= asset_path 'lg1.jpg' %>)">Events
      </div>
    </a>
    <a href="items">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(<%= asset_path 'lg1.jpg' %>)">Events
      </div>
    </a>

      <a href="items">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(<%= asset_path 'lg1.jpg' %>)">Events
        </div>
      </a>
  </div>
 </div>
</div>
</div>
