.banner {
  display: flex;
  align-items: start;
  justify-content: start;
  height: 75vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  text-align: left;
  padding: 40px;
}

