.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  background-position: bottom;
  color: $white;
  text-align: center;
  // padding: 30px;
  object-fit: cover;
}

