
// primary floating card on homepage (CTA for attendees to book a festival that is close to their IP address)

.btn-primary-float{
  background-color: $cerulean;
  color: $white;
  align-self: center;
  width: 60%;
  font-size: 1rem;
}

.btn-primary-float:hover {
  background-color: $bright_turquoise;
  color: white;
  text-decoration: none;
}

body > div.banner.d-flex.flex-column > div.card-fluid > div > a {
  text-decoration: none;
}

// Gradient button for the login screen - may abandon to be consistent with sitewide styling

.btn-gradient {
  background-image: linear-gradient(to right, $torch_red 0%, $contessa 12%, $tapestry 23%, $meteorite 78%, $meteorite_dark 88%, $persian_indigo 100%);
  color: $white;
  border: none;
  font-size: 20px;
  max-width: 250px;
  margin: 10px;
}

.btn-gradient:hover {
  background-image: linear-gradient(to right, $bright_turquoise 0%, $contessa 12%, $tapestry 73%, $meteorite 88%, $meteorite_dark 95%, $persian_indigo 100%);
  color: $white;
  border: none;
}


// .btn-primary-pay{
//   background-color: $bright_turquoise;
//   color: $white;
//   align-self: center;
// }

// .btn-primary-pay:hover {
//   background-color: $torch_red;
//   color: $white;
//   border: none;
// }

// payment button for each view in the booking journey


.btn-new {
  display: inline-grid;
  background-color: $lily-white;
  // width: 50%;
  color: $gray;
  border: thin;
  border-color: $gray;
  border-radius: 30px;
  font-size: 2vh;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.btn-new:hover {
  color: $white;
  background-color: $cerulean;
  border: solid;
  border-color: $white;
  text-decoration: none;
}

button.close {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  border-radius: 0 0 0 30%;
  color: $white;
  padding: 10px;
  border-bottom: solid;
  border-left: solid;
  opacity: .7;
  font-family: auto;
}

button.close:hover {
  color: $cerulean;
  padding: 7px;
}
