.btn-gradient {
  background-image: linear-gradient(to right, #fa163f 0%, #be6779 12%, #ae5e77 23%, #42236b 78%, #321a69 88%, #251368 100%);
  color: white;
  border: none;
  font-size: 20px;
  max-width: 250px;
  margin: 10px;
}

.btn-gradient:hover {
  background-image: linear-gradient(to right, #12cad6 0%, #be6779 12%, #ae5e77 73%, #42236b 88%, #321a69 95%, #251368 100%);
  color: white;
  border: none;
}

.btn-primary-pay{
  background-color: #12cad6;
  color: white;
  align-self: center;
}

.btn-primary-pay:hover {
  background-color: #fa163f;
  color: white;
  border: none;
}

.btn-new {
  display: inline-grid;
  background-color: rgba(15, 171, 188, .9);
  width: 50%;
  color: white;
  border: solid;
  border-color: gray;
  border-radius: 30px;
  font-size: 2vh;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.btn-new:hover {
  background-color: #e4f9ff;
  color: black;
  border: none;
}
