.event-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 1200px;
  margin: auto;
  border-radius: 5px;
}

.event-card:hover {
  transform: scale(1.1);

}

.event-card > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.event-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.event-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.event-card .event-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.event-infos .pgr-avatar-user {
position: absolute;
    right: 27px;
    top: -146px;
    width: 202px;
    height: 200px;
}
