
.photographermodal {
  .modal-body {
    padding: 0;
  }

  .photographermodal-pgr-picture {
    background-size: cover;
    height: 80vh;
    position: relative;

    .photographermodal-pgr-picture-text {
      // to be placed at the bottom left side of the picture
      position: absolute;
      bottom: 0px;
      left: 16px;
      margin: 0;
    }
  }

  .photographermodal-pgr-info {
    margin: 16px;
  }
}

.modal-body .avatar-bordered {
  position: absolute;
  left: 14px;
  top: 10px;
  z-index: 1;
  width: 92px;
  height: 100px;
  border-color: transparent;
  box-shadow: 5px 5px 18px $cerulean;
}

.time-slots {
  display: grid;
  grid-template-columns: repeat(3, 75px);
  justify-content: start;
  grid-gap: 3px;
  padding-left: 18px;
}

.time-slot {
  text-align: center;
  border-radius: 30px;
  font-size: 12px;
  width: 60px;
  margin: 3px;
  padding: 3px;
  border: 1px solid  $cerulean;
}

.unavailable-slot {
  background-color: rgba(220, 20, 60, 0.2);
  border-color: $red;
}

.available-slot {
  border-color: $cerulean;
}

.time-slot-selected {
  background-color: $cerulean;
  color: $white;
}

.booking-review {
  background-color: rgba(15, 171, 188, .2);
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}
