.attendee_info {

}

.time-slots {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 3px;
  // display: flex;
  // flex-direction: column;
  // text-align: center;
  // align-items: center;
}

.time-slot {
  text-align: center;
  border-radius: 30px;
  font-size: 15px;
  width: 75px;
  padding: 10px;
  border: 1px solid  #0fabbc;
}

.unavailable-slot {
  background-color: rgba(220, 20, 60, 0.2);
  border-color: red;
}

.available-slot {
  border-color: #0fabbc;
}

.time-slot-selected {
  background-color: #0fabbc;
  color: white;
}
