.navbar-lewagon {
  justify-content: space-between;
  background: $white;
}

// custom top nav

.custom-nav {
  width: 100%;
  padding: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: 1s;
  text-align: right;
  z-index: 1;
}

.custom-nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: .01s;
}

.custom-nav a:hover {
  background-color: rgba(0,0,0,.2);
  font-weight: bolder;
  color: $white !important;
  text-decoration: none;
  border-radius: 10px;
}

// js class for scroll

.nav-custom-disable {
  pointer-events: none;
  background: transparent;
  color: transparent;
  visibility: hidden;
  transition: .01s;
}

// update will have this be $lily-white

.nav-link {
  color: $lily_white;
  background-color: transparent;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.party-notes {
  list-style-type: none;
  color: white;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display:block;
}

// bottom nav

.bottom-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #0fabbc;
  padding: 15px;
  z-index: 2;
}



.bottom-nav-icon {

  color: $white;
  font-size: 30px;
  text-decoration: none;
  opacity: 0;
  transition: .8s;
}

.bottom-nav-icon-show {
  opacity: 1;
}
