.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.bottom-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: transparent;
  padding-right: 30px;
}

.bottom-nav-icon {
  color: #F91841;
  font-size: 30px;
  opacity: .8;
  text-decoration: none;
  opacity: 0;
}

.bottom-nav-icon:hover {
  color: #F91841;
  opacity: 1;
}
