.navbar-lewagon {
  justify-content: space-between;
  background: $white;
}

.custom-nav {
  width: 100%;
  padding: 5px;
  position: fixed;
  top: 0px;
  transition: 0.5s;
}

.custom-nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: .5s;
}

.custom-nav ul li:hover {
  background: rgba(0,0,1,.2);
}

.nav-custom-disable {
  pointer-events: none !important;
  background: green !important;
  color: green !important;
}

.nav-link {
  color: $white !important;
  background-color: transparent;
}

// .navbar-top {
//   color: $white;
//   font-size: 60px;
//   letter-spacing: 3px;
//   position: fixed;
//   top: 0;
// }

.navbar-top:hover{
  text-decoration: none;
  color: $white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.bottom-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #0fabbc;
  padding: 15px;
}

.button-login {
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 100px;
  font-weight: 400;
  color: #e4f9ff;
}

.button-login:hover {
  background-color: #fff;
  color: #12cad6;
  transform: scale(1.03);
  box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
  text-decoration: none;
}

.bottom-nav-icon {

  color: $white;
  font-size: 30px;
  text-decoration: none;
  opacity: 0;
  transition: .8s;
}

.bottom-nav-icon-show {
  opacity: 1;
}
