.carousel.pointer-event {
  border-width: 3px;
  border-color: $gray;
  border-radius: 10px;
  line-height: 20px;
  letter-spacing: 2px;
  border: solid;
  border-radius: 40px;
  padding: 10px;
  // min-width: 576px;
}
