// *, *:after, *:before {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: "Open Sans";
// }


/* Form Progress */
.progress {
  margin: 3px;
  height: 10vh;
  text-align: center;
  background-color: $white !important;
}
.progress .circle,
.progress .bar {
  display: inline-block;
  background: $white;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid $mischka;
}
.progress .bar {
  position: relative;
  width: 80px;
  height: 6px;
  top: 18px;
  // margin-left: -5px;
  // margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: $mischka;
  font-size: 17px;
}

.progress .circle .title {
  color: $mischka;
  font-size: 8px;
  line-height: 30px;
  margin-left: -5px;

}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
  background: $gallery;
}
.progress .bar.active {
  background: linear-gradient(to right, $gallery 40%, $white 60%);
}
.progress .circle.done .label {
  color: $white;
  background: $gray;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.done .title {
  color: $tundora;
}
.progress .circle.active .label {
  color: $white;
  background: $cerulean;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.active .title {
  color: $cerulean;
}
