
.background-card{
  margin: auto, 0;
  display: flex;
  justify-content: center;
}

.fullform-container{
  margin-top: 112px;
  box-shadow: 10px 10px 8px black;
}

.form {
  background: #050262;
  padding: 30px 50px;
  color: $white;
}

.side_img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.btns_signup_forgetpass_login{
  border: $white solid 2px;
  border-radius: 5px;
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  color: $white;
}
